imageio==2.37.0
matplotlib==3.10.3
numpy==2.3.0
opencv_python==4.10.0.84
pandas==2.3.0
Pillow==11.2.1
scikit_learn==1.7.0
scipy==1.15.3
torch==2.5.1
torch==2.7.0
torchvision==0.20.1
torchvision==0.22.0
zarr==3.0.8
